body{
    background-size:cover;
    text-align: center;
}
.div_song_name{
    font-size:25;
    color:white;
}
.note{
    font-size: 18px;
    color:black;
}
canvas{
    border-radius: 20px;
    border:5px solid white;
    box-shadow: 5px 5px 5px grey;
}



